body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%) no-repeat ;
  height: 100vh;
  color: #fff;
}

.registration_wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
  align-items: center;
  margin: 0 auto;
}
.header_wrapper {
  display: flex;
  justify-content: space-around;
}
.buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_btn {
  cursor: pointer;
  border: none;
  background-color: #0086c3;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: #0086c3;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/**MODALS */

.non_visible {
  display: none;
}